body {
    background-color: #f4fbff;
}

main {
    z-index: 1;
    margin-top: 60px;
    width: 100%;
}

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 550px;
    background: linear-gradient(75deg, #FF7327, #FF7327 50%, #4a87b9 40%, #4a87b9);
}

#presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 12.5vw;
    margin-left: 3vw;
    width: 60%;
    color: #ffffff;
}

#title-presentation {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 2.5rem;
}

#description-presentation {
    font-size: 1.6rem;
    font-style: italic;
}

#img-home {
    display: flex;
    justify-content: center;
}

#img-home img {
    margin: auto;
    padding: 20px;
    max-width: 80%;
    height: auto;
}

#home-main {
    text-align: center;
}

#home-main img {
    margin: 20px;
    max-width: 80%;
    height: auto;
}

.title-main {
    font-size: 1.9rem;
    color: #131126;
    margin-top: 10px;
    padding: 10px;
}

.text-main {
    color: #0e2538;
    font-size: 1.1rem;
    margin: 10px 100px;
    padding: 10px;
}

@media (max-width: 1047px) {
    #presentation {
        margin-top: 15px;
        flex-direction: column;
        height: auto;
        background: linear-gradient(30deg, #FF7327, #FF7327 50%, #4a87b9 40%, #4a87b9);
    }

    #presentation-container {
        width: 90%;
        margin: 50px auto;
    }

    #img-home img {
        height: auto;
        padding: 20px;
        width: 100%;
    }

    .text-main {
        margin: 10px 20px;
    }
}

@media (max-width: 640px) {
    #presentation {
        margin-top: 0px;
        flex-direction: column;
        height: auto;
        background: linear-gradient(30deg, #FF7327, #FF7327 50%, #4a87b9 40%, #4a87b9);
    }

    #title-presentation {
        font-size: 1.75rem;
    }
    
    #description-presentation {
        font-size: 1.25rem;
    }
    
    .title-main {
        font-size: 1.35rem;
        margin: 0px;
        margin-top: 20px;
    }
    
    .text-main {
        font-size: 1rem;
        margin: 0px 0px;
    }
}
