.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(23, 43, 77);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 8%;
    background-color: #f4f9fc;
    box-shadow: 0px 10px 40px #00000056;
}

.navbar-logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 5px;
}

.logo{
    height: 100%;
   
}

.item-bar{
    display: flex;
}

.item-bar li a{
    font-size: 1.1rem;
    margin: 0px 30px;
    padding: 5px 0;
    transition: all .20s ease;
}

.item-bar li a:hover{
    color:#0065ff;
    font-weight: 400;
    border-bottom: 2.5px solid currentColor;
}

.main{
    display: flex;
}

.main a{
    margin-left: 30px;
    margin-right: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    height: 100%;
}

#btn-login{
    background: #FAE0E1;
}

#btn-login:hover {
    background: #f7c7c9;
}

#btn-signup {
    background: #fda5aa;
}

#btn-signup:hover {
    background-color: #e7787e;
}

.logSign-visibility{
    visibility: hidden;
}

.menu-responsivo {
    height: 100%;
    display: none;
}

@media (max-width: 1260px){
    .navbar{
        padding: 5px 2%;
        height: 85px;
        transition: .2s;
    }

    .navbar a{
        margin: 0px  20px;
        padding: 5px 0;
    }

    .main a{
        padding: 15px;
    }

    .menu-responsivo {
        display: block;
        margin-top: 10px;
    }

    .menu-responsivo img{
        height: 80%;
    }

    .item-bar{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top:100%;
        right: 0;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all .5s ease;
    }
    
    .item-bar li {   
        border: 2px solid #ffffffa3;
    }

    .item-bar li a{
        display: block;
        font-size: 1.2rem;
        color: #ffffff;
        margin: 12px 0;
        padding: 15px;
        transition: all .5s ease;
    }

    .item-bar li:hover {
        background-color:rgba(0, 0, 0, 0.4);
    }

    .item-bar li a:hover {
        color: #ffffff;
        border-bottom: none;
    }

    .active{
        display: flex;
    }

    .logSign-visibility{
        visibility: visible;
    }

    #btn-signup, #btn-login{
        display: none;
    }
    
}